.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 10% ;
    color: #dcdcdc;
    font-size: 16px;
    background: linear-gradient(90deg, #00152e, #53918c);

}
.navbar .logo{
    width: max(12vw, 120px);
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li{
    cursor: pointer;
}
.navRight{
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}


.navRight button{
   padding: 10px 10px;
   width: 110px;
   height: 42px;
   border-radius: 12px;
   font-size: 15px;
   font-weight: 500;
   color: #dcdcdc;
   background: transparent;
   border: 1px solid #dcdcdc;
   cursor: pointer;
}
@media (max-width:900px) {
    .navbar{
        padding: 20px 8%;
    }
    .navRight button{
        padding: 4px 8px;
        border-radius: 6px;
        font-size: 14px;
        
     }
}

@media (max-width:768px) {
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
       display: none;
        
     }
}