.valueContainer{
    background: url(../../assets/valueBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.value{
    display: flex;    
    gap: 100px;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
   
}
.valueRight{
    max-width: 600px;    
    display: flex;
    flex-direction: column;  
    margin:100px 150px;   
}
.valueFire{
    display: flex;
    width: 219px;
    height: 30px;
    gap: 4px;
    font-size: 14px;
    color: #f9fafb;
    border-radius: 15px;
    text-align: center;
    padding: 4px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.18);
}
.valueRight h1{
    width: 400px;
    color: #fff;
    font: 48px;
}
.valueRight P{
    color: #dcdcdc;
    font-weight: 500;
    font-size: 14px;
    width: 400px; 
    margin-bottom: 30px;
}

.valueLeft img{
    margin-top: 50px;
    width: 400px;
    height: 400px;
}
@media (max-width: 768px) {
    .value {
        gap: 30px;
        margin: 0 20px;
    }
    .valueRight h1 {
        font-size: 28px;
    }
    .valueRight p {
        font-size: 14px;
    }
    .valueFire {
        width: 200px;
        
    }
    .valueLeft img {
        width: 300px;
        height: auto;
    }
    .value span{
        font-size: 13px;
    }
}

/* Small Mobile Screens (max-width: 480px) */
@media (max-width: 480px) {
    .value {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 50px;
    }
    .valueRight {
        max-width: 90%;
        margin: 20px 0;
        
    }
    .valueRight h1 {
        font-size: 24px;
        width: auto;
    }
    .valueFire {
        width: 200px;
        font-size: 10px;
    }
    .valueLeft img {
        width: 250px;
        height: auto;
    }
}