.transferWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.trans h2{
    width: 300px;
    text-align: center;
}
.transferUp{
    background: #f6f9f8;
    display: flex;
    gap: 300px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    height: 320px;
}
.transferUpLeft{
    padding: 10px 50px;
}
.mockup{
    width: 250px;
    height: 320px;
    position: absolute;
}
.mobile{
    width:  150px;
    height: 280px;
    position: relative;
    left: 190px;
    top: 50px;
}

.transferUpRight{
    width: 430px;
    height: 120px;
    padding: 100px 80px;
}
.transferMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    

}
.transferMiddle img{
    width: 480px;
    height: 550px;
}
.transferDown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 24px;
}
.transferDown div{
    width: 317px;
    height: 250px;    
    border-radius: 20px;
}
.transferDownLeft{
    background-color: #e2ff54;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
   
}
.transferDownLeft h2{
    width: 200px;
}
.transferDownLeft p{
    font-size: 13px;
}
.transferDown img{
    width: 317px;
    height: 250px;
}
.transferDownRight{
    background-color: #2d907a;
   display: flex;
   justify-content: center;
   align-items: center;
}
.transferDownRight h2{
    color: white;
    width: 200px;
    text-align: center;
}
@media (max-width: 768px) {
    .transferUp {
        margin: 10px;
    }
.transferUpLeft, .transferUpRight{
    width: 70%;
}

  .transfrMiddle {
        padding: 20px;
        gap: 10px;
        
        
    }
    .transferMiddle img{
        width: 80%;
    }
.transferDown img{
    width: 100%;
}
    .transferDown {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .transferDown div  {
        width: 90%;
        
    }

    .transferDownLeft h2,
    .transferDownRight h2 {
        width: 100%;
        text-align: center;
    }
}

/* Small Mobile Screens (max-width: 480px) */
@media (max-width: 480px) {
    .transferUp {
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }

    .transferMiddle {
        flex-direction: column;
        gap: 15px;
    }

    .transferMiddle img {
        width: 100%;
        height: auto;
    }  

    .bttn2{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .transferDown div {
        width: 90%;
    }
    .transferDown img{
        width: 350px;
    }
}